<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2021 magerubik.com. All rights reserved.
 * @author Magerubik Team <info@magerubik.com>
 * @package Magerubik_Shopbybrand
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Magerubik_All::menu">
					<resource id="Magerubik_Shopbybrand::shopbybrand" title="Magerubik - Shop by brand" sortOrder="9">
						<resource id="Magerubik_Shopbybrand::index" title="Manage" sortOrder="10" />
						<resource id="Magerubik_Shopbybrand::edit" title="Edit" sortOrder="20" />
						<resource id="Magerubik_Shopbybrand::save" title="Save" sortOrder="20" />
						<resource id="Magerubik_Shopbybrand::settings" title="Settings" sortOrder="30" />
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
